<div class="container">
  <div class="imagen" *ngIf="cuestionario == 0">
    <img class="img" src="../../assets/img/logo.jpeg">
  </div>
  <div class="login" *ngIf="cuestionario == 0">
    <label class="folio">Ingrese su Folio:</label>
    <mat-form-field class="input">
      <input matInput/>
      <mat-placeholder class="placeholder">
        Folio
      </mat-placeholder>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="validarFolio()" class="btn">Entrar</button>
  </div>
  <div class="datos" *ngIf="cuestionario == 1">
    <mat-grid-list cols="2" rowHeight="80px">
      <mat-grid-tile [colspan]="2">
        <label class="titulo">Ingrese sus Datos</label>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="opcion">Nombe Completo:</label>
        <mat-form-field class="input">
          <input matInput/>
          <mat-placeholder class="placeholder">
            Nombre
          </mat-placeholder>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="opcion" >Sexo:</label>
        <mat-radio-group>
          <mat-radio-button value="M" class="radio" color="primary">Masculino</mat-radio-button>
          <mat-radio-button value="F" class="radio" color="primary">Femenino</mat-radio-button>
        </mat-radio-group>
      </mat-grid-tile>
      <mat-grid-tile>
        <label class="opcion" >Edad:</label>
        <mat-select class="select" placeholder="Seleccione su edad">
          <mat-option [value]="15 - 19">
            15 - 19
          </mat-option>
          <mat-option [value]="20 - 24">
            20 - 24
          </mat-option>
          <mat-option [value]="25 - 29">
            25 - 29
          </mat-option>
          <mat-option [value]="30 - 34">
            30 - 34
          </mat-option>
          <mat-option [value]="35 - 39">
            35 - 39
          </mat-option>
          <mat-option [value]="40 - 44">
            40 - 44
          </mat-option>
          <mat-option [value]="45 - 49">
            45 - 49
          </mat-option>
          <mat-option [value]="50 - 54">
            50 - 54
          </mat-option>
          <mat-option [value]="55 - 59">
            55 - 59
          </mat-option>
          <mat-option [value]="60 - 64">
            60 - 64
          </mat-option>
          <mat-option [value]="65 - 69">
            65 - 69
          </mat-option>
          <mat-option [value]="70">
            70 o más
          </mat-option>
        </mat-select>
      </mat-grid-tile>
    </mat-grid-list>    
  </div>
</div>
